body {
  font-family: serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#login-form {
  width: 300px;
}

h1 {
  text-align: center;
}

label {
  margin: 10px 0 5px;
  display: block;
}

input {
  width: 98%;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-family: serif;
}

button {
  height: 40px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #222;
}

.error {
  color: red;
  text-align: center;
}
